# # Postgres
# POSTGRES_USER=admin
# POSTGRES_PASSWORD=123
# POSTGRES_DB=focalboard

# Wekan
WEKAN_ROOT_URL=http://wekan.openteams
WEKAN_DEFAULT_AUTHENTICATION_METHOD=ldap
WEKAN_LDAP_ENABLE=true
WEKAN_LDAP_PORT=389
WEKAN_LDAP_HOST=ldap.openteams
WEKAN_LDAP_AUTHENTIFICATION=true

# LDAP
LDAP_ORGANISATION="OpenTeams Organization"
LDAP_DOMAIN="ldap.openteams"
LDAP_ADMIN_DN="cn=admin,dc=ldap,dc=openteams"
LDAP_ADMIN_PASSWORD="123"
LDAP_BASEDN="dc=ldap,dc=openteams"

# RocketChat
## RELEASE=
## BIND_IP=127.0.0.1
ROCKETCHAT_ROOT_URL=http://chat.openteams
ROCKETCHAT_PORT=3000

# Nextcloud
MYSQL_ROOT_PASSWORD="123"
MYSQL_PASSWORD="123"
MYSQL_DATABASE="nextcloud"
MYSQL_USER="nextcloud"
REDIS_PASSWORD="123"


# Jitsi
CONFIG=./data/jitsi-meet-cfg

# Exposed HTTP port (will redirect to HTTPS port)
HTTP_PORT=8000

# Exposed HTTPS port
HTTPS_PORT=8443

# System time zone
TZ=UTC+05

# Public URL for the web service (required)
# Keep in mind that if you use a non-standard HTTPS port, it has to appear in the public URL
PUBLIC_URL=http://meet.openteams

# XMPP password for Jicofo client connections
JICOFO_AUTH_PASSWORD=

# XMPP password for JVB client connections
JVB_AUTH_PASSWORD=

# XMPP password for Jigasi MUC client connections
JIGASI_XMPP_PASSWORD=

# XMPP password for Jigasi transcriber client connections
JIGASI_TRANSCRIBER_PASSWORD=

# XMPP recorder password for Jibri client connections
JIBRI_RECORDER_PASSWORD=

# XMPP password for Jibri client connections
JIBRI_XMPP_PASSWORD=